<div class="margin-top">

  <div class="col-6">

    <div class="container">

      <h1 class="text-center mb-3" id="logo-font">Choose your favourite celebrity</h1>

      <div class="search-bar mb-3 mt-4">

        <div class="searchbar-form">
          <%= form_tag celebrities_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control be-0" %>
            <%= submit_tag "Search", class: "map-button border-0 rounded-left" %>
          <% end %>
        </div>
      </div>
      <%= render 'shared/card_celebrity', collection: @celebrities %>
    </div>
  </div>

  <div class="map-wrapper col-6">
    <div id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       style="height: 100vh; position: sticky; top: 0; width: 100%;">
    </div>
  </div>

</div>
